<form method='POST' action='/figures'>
  Figure Name: <input type='text' name='figure[name]' id='figure_name'>
  <% @titles.each do |title| %>
    <%= title.name %>  <input type='checkbox' name='figure[title_ids][]' id="<%="title_#{title.id}"%>" value="<%= title.id %>">
  <% end %>
  <% @landmarks.each do |landmark| %>
    <%= landmark.name %>  <input type='checkbox' name='figure[landmark_ids][]' id="<%="landmark_#{landmark.id}"%>" value="<%= landmark.id %>">
  <% end %>
  Landmark: <input type='text' name='landmark[name]' id='new_landmark'>
  Title: <input type='text' name='title[name]'  id='new_title'>
  <input type='submit' value='Create New Figure'>
</form>